---
title: About - Eleventy Photo Gallery
meta_desc: A page about John Smith, and photography. This template is currently the default version so add your own about me page info here.
url: https://eleventy-gallery.netlify.app/about
img: /images/terrace-window.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
eleventyNavigation:
  key: About
  order: 2
heading: About
permalink: "/about/"
layout: main.njk
---

<div class="about-me-content">
  <h1>{{ heading }}</h1>
  <p>Transform your kitchen with Queenswood Cabinet and Renovation, Toronto's premier full-service, licensed, and bonded kitchen remodeling company. Whether you're dreaming of a small kitchen revamp, a sleek modern design, or a complete kitchen overhaul, our expert designers will bring your vision to life, perfectly matching your style, taste, and color preferences.
</p>
  <p>At Queenswood, we take pride in delivering exceptional kitchen designs, using only the highest quality materials and construction techniques. With years of experience in the kitchen remodeling industry, we guarantee outstanding results and complete customer satisfaction. No matter the size of your project, we treat every client with the same dedication and care.
</p>
  <p>Trust our professional Toronto-based designers to craft a unique kitchen space that seamlessly fits your lifestyle and personal taste.</p>

  


</div>
