---
eleventyNavigation:
  key: Home
  order: 0
heading: Queenswood Cabinet and Renovation
description: 3107 KENNEDY RD SCARBOROUGH ON  M1V 4Y1 
phone: 647 338 0688


layout: main.njk
title: Queenswood Cabinet and Renovation
meta_desc: Queenswood Cabinet and Renovation 3107 KENNEDY RD SCARBOROUGH ON  M1V 4Y1 647 338 0688
url: https://queenswoodreno.com/
img: /images/terrace-window.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
cardType: summary_large_image
---

<div class="page-banner">
  <h1>{{ heading }}</h1>
  <p>{{ description }}</p>
  <p>{{ phone }}</p>
</div>

{% include "partials/home-gallery.njk" %}
