<footer>
    <div class="footer-content">
        <div class="footer-info home">
            <p>&copy; {% getYear %} {{ site.author.firstName }} <br> {{ site.author.lastName }}</a></p>
            <ul class="footer-links">
                <li class="footer-link"><a href="{{ site.socials.github }}"> </a></li>
                <li class="footer-link"><a href="{{ site.socials.twitter }}"> </a></li>
                <li class="footer-link"><a href="{{ site.socials.linkedin }}"> </a></li>
            </ul>
        </div>
    </div>
</footer>
