{% set navigation = collections.all | eleventyNavigation %}
<header class="top-nav">
    
    
    <nav class="nav-main">
        <ul class="nav-list">
            <li><img src="images/top_logo_shadow.png" alt="Logo"></li>
            {% for link in navigation %}
            <li><a href="{{ link.url | url }}" class="link">{{ link.title }}</a></li>
            {% endfor %}
            <li><a class="link" href="https://github.com/tannerdolby/eleventy-photo-gallery">Code</a></li>
        </ul>
    </nav>
</header>
